<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <center>
        <h2>Projects text page would go here</h2>
    </center>

    {{> footer}}
</body>

</html>